@mixin vp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin vp-1590 {
  @media (max-width: 1590px) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin vp-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: 374px) {
    @content;
  }
}

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1d1d1f;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: url('../img/header-bg.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 180px;

  @include vp-1439 {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include vp-1023 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-767 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 80px;
  }

  &_title {
    margin-top: 120px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include vp-1439 {
      font-size: 65px;
    }

    @include vp-1023 {
      font-size: 55px;
    }

    @include vp-767 {
      font-size: 40px;
      margin-top: 70px;
    }
  }

  &_description {
    max-width: 1196px;
    margin-top: 114px;
    color: #fff;
    text-align: center;
    font-family: 'Space Mono';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 2.56px;
    text-transform: uppercase;

    @include vp-1439 {
      font-size: 50px;
      line-height: 1.2;
    }

    @include vp-1023 {
      font-size: 40px;
    }

    @include vp-767 {
      margin-top: 70px;
      font-size: 30px;
    }
  }

  &_link {
    display: flex;
    transition: $trans-default;
    margin-top: 60px;
    padding: 20px 60px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #aea564;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;

    @include vp-1023 {
      font-size: 26px;
    }

    @include vp-767 {
      padding: 10px 20px;
      font-size: 20px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &_adress {
    margin-top: 40px;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    letter-spacing: 0.6px;

    @include vp-1023 {
      font-size: 25px;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding: 0 60px;
  padding-bottom: 229px;

  @include vp-767 {
    padding: 0 16px;
    padding-bottom: 120px;
  }

  &_title {
    margin-top: 121px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1px;

    @include vp-1023 {
      font-size: 40px;
      line-height: 1.2;
    }

    @include vp-767 {
      margin-top: 70px;
      font-size: 30px;
    }
  }

  &_text {
    margin-top: 64px;
    color: #fff;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    width: 100%;
    max-width: 1602px;

    @include vp-1023 {
      font-size: 30px;
      line-height: 1.2;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }
}

.screens {
  width: 100%;
  height: 3100px;
  background-image: url('../img/screen-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 3100px;
  background-position: center;

  @include vp-1919 {
    background-size: cover;
  }
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 100%;

  &_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 40px;
    }
  }

  &_stages {
    width: 100%;
  }

  &_top {
    position: relative;
    width: 100%;
    display: grid;
    gap: 150px;
    grid-template-columns: 293px 341px 213px 213px;
    grid-template-rows: auto;
    margin-top: 60px;
    justify-content: center;

    @include vp-1590 {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 50px;
      display: block;
      width: 100%;
      height: 2px;
      background: #f1521f;

      @include vp-1590 {
        bottom: 30px;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &_bottom {
    position: relative;
    width: 100%;
    display: grid;
    gap: 150px;
    grid-template-columns: 400px 213px 308px;
    grid-template-rows: auto;
    margin-top: 160px;
    justify-content: center;

    @include vp-1590 {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 30px;
      margin-top: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 60px;
      display: block;
      width: 100%;
      height: 2px;
      background: #f1521f;

      @include vp-1590 {
        bottom: 30px;
      }

      @include vp-767 {
        display: none;
      }
    }

    .roadmap_cell:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  &_cell {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #fff1f1;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;

    @include vp-1590 {
      font-size: 18px;
      max-width: 280px;
      padding: 0 10px;
    }

    &::after {
      content: '';
      display: none;
      width: 2px;
      margin-top: 30px;
      height: 180px;
      background: #f1521f;

      @include vp-767 {
        display: block;
      }
    }
  }

  &_round {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.7px;
    width: 101px;
    height: 101px;
    border-radius: 50%;
    background: #aea564;

    @include vp-1590 {
      width: 60px;
      height: 60px;
      font-size: 16px;
    }
  }
}

.team {
  margin-top: 398px;
  padding: 0 60px;

  @include vp-1023 {
    margin-top: 150px;
  }

  @include vp-767 {
    padding: 0 16px;
    margin-top: 70px;
  }

  &_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 40px;
      line-height: 1.2;
    }

    @include vp-767 {
      font-size: 30px;
    }
  }

  &_description {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.76px;
    width: 100%;
    max-width: 1318px;

    @include vp-767 {
      font-size: 25px;
    }
  }

  &_orangeBlock {
    margin-top: 400px;
    width: 100%;
    max-width: 1272px;
    height: 138px;
    background: #f1521f;

    @include vp-1023 {
      margin-top: 150px;
    }

    @include vp-767 {
      margin-top: 70px;
      height: 70px;
    }
  }
}

.cards {
  width: 100%;
  margin-top: 400px;
  padding: 150px 0;
  border-top: 2px solid #f1521f;
  border-bottom: 2px solid #f1521f;

  @include vp-1439 {
    padding: 70px 0;
  }

  @include vp-1023 {
    margin-top: 100px;
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(3, 462px);
    grid-template-rows: 1016px;
    column-gap: 131px;
    justify-content: center;

    @media (max-width: 1700px) {
      column-gap: 30px;
      grid-template-columns: repeat(3, 400px);
    }

    @include vp-1439 {
      grid-template-columns: 400px;
      grid-template-rows: auto auto auto;
      row-gap: 60px;
    }

    @include vp-500 {
      grid-template-columns: 102%;
    }
  }

  &_item {
    display: flex;
    width: 100%;
    height: 1016px;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border-radius: 50px;
    overflow: hidden;

    span {
      padding: 0 20px;

      @include vp-1439 {
        padding: 20px;
      }
    }

    &--1 {
      background: url('../img/card-1.png');
      background-size: contain;
      background-repeat: no-repeat;

      @include vp-1439 {
        background-size: cover;
      }
    }

    &--2 {
      background: url('../img/card-2.png');
      background-size: contain;
      background-repeat: no-repeat;

      @include vp-1439 {
        background-size: cover;
      }
    }

    &--3 {
      background: url('../img/card-3.png');
      background-size: contain;
      background-repeat: no-repeat;

      @include vp-1439 {
        background-size: cover;
      }
    }

    @include vp-1439 {
      height: auto;
      min-height: 800px;
      padding: 0 3px;
    }

    @include vp-500 {
      padding: 0;
      font-size: 30px;
      min-height: 550px;
    }
  }

  &_itemMobileDescription {
    display: none;

    @include vp-1439 {
      display: block;
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: normal;
      margin-top: auto;
      background: linear-gradient(0deg, #aea564 0%, #aea564 100%);
      padding: 20px;
    }

    @include vp-500 {
      font-size: 18px;
    }
  }

  &_listFake {
    position: relative;
    z-index: 3;
    margin-top: -700px;
    display: grid;
    grid-template-columns: repeat(3, 462px);
    grid-template-rows: auto;
    column-gap: 131px;
    justify-content: center;
    width: 100%;
    background: linear-gradient(0deg, #aea564 0%, #aea564 100%);

    @media (max-width: 1700px) {
      column-gap: 30px;
      grid-template-columns: repeat(3, 400px);
    }

    @include vp-1439 {
      display: none;
    }
  }

  &_itemFake {
    color: #000;
    text-align: center;
    padding: 30px 15px;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
    text-transform: uppercase;
  }
}

.bottom {
  margin-top: 112px;
  width: 100%;
  min-height: 2224px;
  background-image: url('../img/bottom-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  width: 100%;
  min-height: 312px;
  background: url('../img/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, #aea564 0%, #aea564 100%);

  @include vp-1439 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-767 {
    padding-left: 16px;
    padding-right: 16px;
  }

  &_title {
    margin-top: 45px;
    color: #1d1d1f;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 40px;
      line-height: 1.2;
    }

    @include vp-767 {
      font-size: 30px;
    }
  }

  &_description {
    margin-top: -5px;
    color: #1d1d1f;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    @include vp-1023 {
      margin-top: 10px;
      font-size: 20px;
    }

    @include vp-767 {
      font-size: 18px;
    }
  }

  &_socialList {
    margin-top: 40px;
    display: flex;
    gap: 50px;

    @include vp-1023 {
      margin-top: 25px;
      gap: 30px;
    }
  }

  &_socialItem {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    transition: $trans-default;
    border-radius: 11px;
    border: 2px solid #f1521f;
    box-shadow: 0px 0px 10px 0px rgba(17, 255, 68, 0.4);

    @include vp-1023 {
      width: 60px;
      height: 60px;
    }

    @include vp-767 {
      width: 55px;
      height: 55px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
