@mixin vp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin vp-1590 {
  @media (max-width: 1590px) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin vp-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: 374px) {
    @content;
  }
}

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;

  src: url('../fonts/Anton-Regular.woff2') format('woff2'),
    url('../fonts/Anton-Regular.woff') format('woff');
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Anton';
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1d1d1f;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #252525;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 85px;
  padding-right: 110px;

  @include vp-1439 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 1200px) {
    background-image: none;
  }

  @include vp-1023 {
  }

  @include vp-767 {
  }

  &_bg-left {
    display: none;

    @media (max-width: 1200px) {
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
    }
  }

  &_bg-right {
    display: none;

    @media (max-width: 1200px) {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
    }
  }

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1250px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &_title {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include vp-1439 {
      font-size: 40px;
    }

    @include vp-1023 {
      font-size: 55px;
    }

    @include vp-767 {
      font-size: 40px;
      margin-top: 70px;
    }

    img {
      width: 115px;
      height: auto;

      @include vp-1439 {
        width: 70px;
      }
    }
  }

  &_menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }

  &_menuItem {
    text-decoration: none;
    color: #fff;
    text-align: right;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; /* 250% */
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #1d1d1f;
    padding: 2px 38px;
    border-radius: 15px;

    @include vp-1439 {
      font-size: 25px;
      padding: 2px 30px;
    }
  }

  &_bottom {
    display: flex;
    width: 100%;
    padding-left: 100px;

    @include vp-1919 {
      padding-left: 0;
    }
  }

  &_left {
    width: 50%;
    margin-top: 220px;
    padding-right: 10px;

    @include vp-1919 {
      margin-top: 70px;
    }
  }

  &_right {
    width: 50%;
    margin-top: 150px;

    @include vp-1919 {
      margin-top: 70px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &_description {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 166.667% */
    letter-spacing: 1.8px;
    text-transform: uppercase;

    @include vp-1439 {
      font-size: 30px;
      line-height: 1.3;
    }

    @include vp-1023 {
    }

    @include vp-767 {
    }
  }

  &_link {
    display: inline-flex;
    transition: $trans-default;
    margin-top: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #43b446;
    padding: 20px 60px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;

    @include vp-1023 {
    }

    @include vp-767 {
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &_adress {
    margin-top: 40px;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    letter-spacing: 0.6px;

    @include vp-1023 {
    }

    @include vp-767 {
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 1779px;
  padding: 0 60px;
  padding-bottom: 129px;

  @include vp-767 {
  }

  &_title {
    align-self: flex-end;
    margin-top: 179px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 90% */
    letter-spacing: 1px;
    text-transform: uppercase;

    @include vp-1023 {
    }

    @include vp-767 {
    }
  }

  &_text {
    margin-top: 152px;
    color: #fff;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    width: 100%;
    max-width: 1407px;

    @include vp-1023 {
      font-size: 30px;
      line-height: 1.2;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  padding: 0 60px;
  margin-top: 140px;

  &_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &_text {
    padding: 88px 68px;
    margin-top: 172px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #43b446;
    width: 100%;
    max-width: 1200px;
    color: #fff;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
  }
}

.feature {
  margin-top: 170px;
  width: 100%;
  background: url('../img/feature-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 180px;

  &_container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

  &_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 220px;
    list-style: none;
  }

  &_item {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;

    span {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #28822a;
    }

    &-1 {
      align-self: flex-start;
      margin-left: 180px;
    }

    &-2 {
      margin-top: 400px;
      margin-left: 236px;
    }
  }

  &_line-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1273px;
    margin-top: 38px;
    margin-left: 334px;
  }
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 517px;
  width: 100%;

  &_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 40px;
    }
  }

  &_stages {
    width: 100%;
  }

  &_top {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
  }

  &_item {
    &-2,
    &-4 {
      margin-top: 200px;
    }
  }
}
.coming {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-top: 377px;
  padding-bottom: 143px;

  &_link {
    position: relative;
    color: #000;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #43b446;
    padding: 20px 95px;
    margin-left: 184px;

    img {
      position: absolute;
      bottom: -160px;
      right: -15px;
    }
  }

  &_screen {
    position: relative;
    align-self: flex-end;
    margin-top: -20px;
    right: -120px;
  }

  &_screenImg-1 {
    position: relative;
    z-index: 3;
  }

  &_screenImg-2 {
    position: absolute;
    z-index: 2;
    top: 96px;
    right: 120px;
  }

  &_screenImg-3 {
    position: absolute;
    z-index: 1;
    top: 152px;
    right: 94px;
    width: 1300px;
    height: 1315px;
  }

  &_description {
    margin-top: 299px;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 114.286% */
    text-transform: uppercase;
    padding: 0 40px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
  min-height: 312px;
  background: url('../img/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include vp-1439 {
  }

  @include vp-767 {
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 60px;
    padding-left: 139px;
    max-width: 1850px;
  }

  &_titleWrapper {
    display: flex;
    align-items: baseline;
    margin-top: 45px;
  }

  &_title {
    display: flex;
    align-items: baseline;
    gap: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;

    @include vp-1023 {
      font-size: 40px;
      line-height: 1.2;
    }

    @include vp-767 {
      font-size: 30px;
    }
  }

  &_description {
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    @include vp-1023 {
    }

    @include vp-767 {
    }
  }

  &_socialList {
    margin-top: 40px;
    display: flex;
    gap: 50px;

    @include vp-1023 {
      margin-top: 25px;
      gap: 30px;
    }
  }

  &_socialItem {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    transition: $trans-default;
    border-radius: 11.154px;
    border: 2.231px solid #fff;
    box-shadow: 0px 0px 5px 0px rgba(17, 255, 68, 0.4);

    @include vp-1023 {
    }

    @include vp-767 {
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
